<% provide(:title, 'Signup') %>
<h1>New User</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :usertype, 'User Type' %>
      <%= f.select :usertype, [['Buyer','buyer'],['Seller','seller']], class: 'form-control' %>
      
      <%= f.label :loclat, "Latitude" %>
      <%= f.text_field :loclat, class: 'form-control' %>
      <%= f.label :loclong, "Longitude" %>
      <%= f.text_field :loclong, class: 'form-control' %>
      
      <%= f.hidden_field :color, :value => "black", class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
