<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "E Commerce", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <% if logged_in? %>
            <% if logged_in_usertypeadmin? %>
                    <li><%= link_to "Users", users_path %></li>   <!-- Change -->
                    <%end%>
          <% if logged_in_usertypeseller? %>     
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Commodities <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add an Item", new_commodity_path %></li>
              <li><%= link_to "Index of Items", commodities_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Messages <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Received Messages", messages_path(:id => session[:user_id], :usertype => "buyer") %></li>
              <li><%= link_to "Your Rating", rating_path(session[:user_id]) %></li>
            </ul>
          </li>
          <% end %>
          <% if logged_in_usertypebuyer? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Shop Products <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Buy Products", displayitems_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Messages <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Received Messages", messages_path(:id => session[:user_id], :usertype => "seller") %></li>
              <li><%= link_to "Sent Messages", messages_path(:id => session[:user_id], :usertype => "buyer") %></li>
            </ul>
          </li>
          <% end %>
          
          
                    
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li> <!--chnage: here to settings page when user logged in -->
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <li><%= link_to 'Cart', shopping_cart_path%></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
          </ul>
        </nav>
      </div>
    </header>